<script data-template-name="application" type="text/x-handlebars">
  <div class="row">
    <h1>Persona Prototype - mimicking SG gallery</h1>
    <ul>
      <li>
        Using Ember
        <ul>
          <li><strike>fetch outfit data from Style Gallery API</strike></li>
          <li><strike>display outfit data</strike></li>
          <li>enable pagination (might be too hard)</li>
          <li><strike>loving (minus API sync)</strike></li>
        </ul>
      </li>
    </ul>

    {{outlet}}
  </div>
</script>

<script data-template-name="outfits" type="text/x-handlebars">
  <h2>Outfits</h2>
  <ul class="large-block-grid-3">
    {{#each controller}}
      {{view Persona.OutfitView outfitBinding="this"}}
    {{/each}}
  </ul>
</script>

<script data-template-name="outfit" type="text/x-handlebars">
    <p>
      <strong>id:</strong> {{id}}
    </p>
    <p>
      <strong>Moderated at:</strong> {{moderatedAt}}
    </p>
    <p>
      <strong>Uploaded by:</strong> {{contributor.name}}
    </p>
    <p>
      <strong>Loves:</strong> {{ loveCount }}<br/>
      <strong>User loved?:</strong> {{ hasLoved }}<br/>
      <button {{action toggleLove target="view"}} >{{ view.loveButtonValue }}</button>
    </p>
    <p>
      <img {{bindAttr src="imageUrl"}} >
    </p>
</script>
